.header{
    width:100%;
    padding:20px 0 20px 20px;
    border-bottom:1px solid #333;
}
.header p {
    margin:0;
    font-size:14px;
}
.sub-header{
    width:700px;
    margin:0 auto;
}
.sub-header h1 {
    font-weight:bold;
    text-align:center;
    font-style:italic;
    margin:30px 0;
}
.sub-header p {
    font-size:15px;
    color:#777;
    margin:30px 0 0 0;
    opacity: 0.7;
    text-align: center;
}
.select-bar{
    margin:20px 0;
    display:flex;
    justify-content: flex-end;
}
.select-bar button {
    float:right;
    font-size:16px;
    margin:10px 5px 0 5px;
    padding:6px 18px;
    font-weight:bold;
    text-decoration:none;
    background-color:#453fb2;
    color:white;
    border:none;
    border-radius:5px;
    transition: transform 0.3s ease;
}
.select-bar button:hover{
    transform: scale(1.1);
}
.rule-box{
    border-bottom:1px solid #333;
}
.rule-box h4{
    font-weight:bold;
    color:#e39900;
    margin-top:10px;
}
.rule-list{
    padding-left:30px;
}
.rule-list li {
    list-style:none;
    font-size:14px;
    color:#666;
    font-weight:bold;
}

.container{
    border-top:1px solid #333;
    width:700px;
}
.title , .editor {
    font-weight:bold;
    font-size:25px;
    font-style:italic;
    color:#e39900;
    display:block;
}
#title{
    display:block;
    height:45px;
    padding:10px 10px;
    border:1px solid #c4c4c4;
    background-color:#fff;
    color:#333;
    font-size: 15px;
    font-weight:bold;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing:border-box;
    width:100%;
    margin:10px 0;
}
#title:focus{
    border-color: #453fb2;
    border-width: 1px;
    outline: none;
}
.title{
    margin-top:10px;
}
.editor{
    margin-bottom:5px;
}
.button-box{
    margin:20px 0 50px 0;
    text-align: right;
}
.form-submit{
    font-size: 18px;
    padding:6px 18px;
    font-weight:bold;
    text-decoration:none;
    background-color:#453fb2;
    color:white;
    border:none;
    border-radius:5px;
    transition: transform 0.3s ease;
}
.form-submit:hover{
    transform: scale(1.1);
}

