<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NaHC Pet</title>
</head>
<body>
<th:block th:fragment="footerFragment">
    <div class="main-footer user-footer" id="footer">
        <div class="goto-top">
            <a href="#" class="lnk_top">
                <span>TOP</span>
            </a>
        </div>
        <div class="name">OhKyuChan | okc0202@naver.com</div>
        <div class="copyright">@ NaHC Pet Service.</div>
        <div class="icon-container">
            <a href="mailto:okc0202@naver.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://github.com/ohchanKyu" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://ohchankyu.github.io/" target="_blank"><i class="fa-solid fa-blog"></i></a>
        </div>
    </div>
</th:block>
</body>
</html>